.contacts {
  position: relative;
  padding-bottom: 0;
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.contacts__address {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.contacts_position_center {
display: flex;
align-items: center;
}

.contacts__tel,
.contacts__email {
  margin-bottom: 10px;
}

.contacts__location {
  display: flex;
  white-space: pre-line;
  margin-bottom: 30px;
}

.contacts__location::before,
.contacts__tel::before,
.contacts__email::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 28px;
}

.contacts__location::before {
  background-image: url(../contacts/icons/contacts-location-icon.svg);
}

.contacts__tel::before {
  background-image: url(../contacts/icons/contacts-phone-call-icon.svg);
}

.contacts__email::before {
  background-image: url(../contacts/icons/contacts-email-icon.svg);
}

.contacts__email {
  margin-bottom: 0;
}

.contacts__network {
  width: 280px;
  padding-top: 39px;
  display: flex;
  flex-direction: row;
justify-content: space-between;
}

.contacts__item {
  width: 50px;
  height: 50px;
}

.contacts__item:hover .contacts__icon-logo {
  fill: #EADEED;
  transition-duration: 0.5s;
}

.contacts__item:active .contacts__icon-logo {
  fill: #CD06FF;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.contacts__item:focus {
  border: 1px solid #CD06FF;
  transition-duration: 1s;
}

.contacts__item:focus .contacts__icon-logo {
  fill: #EADEED;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.contacts__block-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 166px;
}