.contacts {
  position: relative;
  padding-bottom: 0;
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.contacts__address {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
}

.contacts__tel,
.contacts__email {
  margin-bottom: 10px;
}

.contacts__location {
  display: flex;
  white-space: pre-line;
  margin-bottom: 30px;
}

.contacts__location,
.contacts__tel,
.contacts__email {
  display: flex;
  align-items: center;
}

.contacts__location::before,
.contacts__tel::before,
.contacts__email::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 28px;
}

.contacts__location::before {
  background-image: url(../contacts/icons/contacts-location-icon.svg);
}

.contacts__tel::before {
  background-image: url(../contacts/icons/contacts-phone-call-icon.svg);
}

.contacts__email::before {
  background-image: url(../contacts/icons/contacts-email-icon.svg);
}

.contacts__email {
  margin-bottom: 0;
}

.contacts__network {
  width: 280px;
  padding-top: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__icon-logo {
  width: 51px;
  height: 51px;
  border: 1px solid transparent;
  transition-duration: 0.5s;
}

.contacts__link:hover .contacts__icon-logo {
  fill: var(--button_bg_color-white);
}

.contacts__link:active .contacts__icon-logo {
  fill: var(--individ-elements_color);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.contacts__link:focus .contacts__icon{
  outline: 1px solid var(--individ-elements_color);
}

.contacts__link:focus .contacts__icon-logo {
  fill: var(--button_bg_color-white);
  transition-timing-function: ease-in;
}

.contacts__block-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 166px;
}