.accessories__title {
  width: 800px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 40px auto;
}

.accessories__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accessories__item {
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.accessories__item:nth-child(even) {
  padding-top: 70px;
}

.accessories__figure {
  transition: 0.5s;
}

.accessories__figure:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px whitesmoke;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 1;
}

.accessories__figure {
  position: relative;
  height: auto;
}

.accessories__img {
  display: block;
}

.accessories__img-text {
  position: absolute;
  bottom: 6px;
  left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-line;
  min-height: 56px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}