.accessories__title {
  width: 800px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 40px auto;
}

.accessories__list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.accessories__item {
  display: block;
  margin-top: 0;
}

.accessories__figure__indent_top {
  margin-top: 70px;
}

.accessories__figure__indent_bottom {
  /* margin-bottom: -30px; */
}

.accessories__item:hover .accessories__img {
transform: scale(1.1);
box-shadow: 0 0 10px whitesmoke;
transition-duration: 0.5s;
transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.accessories__figure {
  position: relative;
  height: auto;
}

.accessories__img {
  display: block;
}

.accessories__img-text {
  position: absolute;
  top: 166px;
  left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  white-space: pre-line;
}
