.header-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 0 40px;

}

.menu__item {
  font-family: Arial;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header__button-call {
width: 280px;
height: 55px;
border: 3px solid #CD06FF;
border-radius: 10px;
font-family: 'Arial';
font-weight: 700;
font-size: 22px;
text-transform: uppercase;
color: white;
background-color: #1b1a1b;
}

.header__button-call:hover {
background-color: #6C0287;
border: 3px solid #6C0287;
transition-duration: 0.5s;
}

.header__button-call:active {
background-color: #640AA3;
border: none;
transition-duration: 0.5s;
transition-timing-function: ease-in-out;
}

.header__button-call:focus {
background-color: #6C0287;
border: none;
transition-duration: 1s;
transition-timing-function: ease-in;
}




