.booking {
  background-color: var(--bg_color);
  color: white;
  text-align: center;
  padding: 78px 0 80px 0;
}

.booking__title {
  margin-bottom: 47px;
}

.booking__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.booking__fieldset:not(:first-child) {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.booking__legend {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 40px;
}

.booking__legend_position_left {
  text-align: left;
  margin-bottom: 23px;
}

.booking__halls-list {
  display: flex;
  justify-content: space-between;
}

.booking__label-radio {
  position: relative;
  text-align: center;
  cursor: pointer;
  display: flex;
}

.booking__item-hall {
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.booking__span-radio-btn {
  padding: 4px 12px;
  border: 3px solid #FFFFFF;
  min-width: 250px;
  background: #FFFFFF;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.booking__span-radio-btn:hover {
  border: 3px solid var(--button_bg_color-active);
  background: var(--button_bg_color-white);
}

.visually-hidden:active+.booking__span-radio-btn {
  border: 3px solid var(--button_bg_color-white);
  background-color: var(--button_bg_color-white);
  transition-timing-function: ease-in-out;
}

.visually-hidden:checked+.booking__span-radio-btn {
  border: 3px solid var(--button_bg_color-white);
  background-color: var(--button_bg_color-white);
  transition-timing-function: ease-in-out;
}

.visually-hidden:focus+.booking__span-radio-btn {
  border: 3px solid var(--button_bg_color-active);
  background-color: white;
  transition-timing-function: ease-in-out;
}

.booking__item-date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.booking__label {
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.booking__label_flex_column {
  flex-direction: column;
  align-items: flex-start;
}

.booking__legend_position_left:last-child {
  padding-left: 5px;
}

.booking__fun-fieldset:last-child {
  padding-left: 7px;
}

.booking__fun-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.booking__fun-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-size: 22px;
}

.booking__fun-list_break_size_s {
  gap: 18px;
}

.booking__span {
  font-weight: 400;
  font-size: 22px;
  padding-top: 2px;
  position: relative;
}

.booking__span_indent_s {
  padding-left: 39px;
}

.booking__span_indent_xl {
  padding-left: 37px;
}

.booking__span_indent_s::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: white;
  top: 0;
  left: 0;
}

.booking__span_indent_s::after {
  content: "";
  position: absolute;
  background: none;
  border: 1px solid var(--button_border_color);
  width: 33px;
  height: 33px;
  top: -3px;
  left: -3px;
  opacity: 0;
}

.visually-hidden:focus+.booking__span_indent_s::after {
  opacity: 1;
}

.visually-hidden:checked+.booking__span_indent_s::before {
  border: 8px solid var(--button_border_color);
  border-radius: 50%;
}

.booking__span_indent_xl::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  top: 0;
  left: 0;
  opacity: 1;
}

.booking__span_indent_xl::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid var(--individ-elements_color);
  background: none;
  top: -3px;
  left: -3px;
  opacity: 0;
}

.visually-hidden:focus+.booking__span_indent_xl::after {
  opacity: 1;
}

.visually-hidden:checked+.booking__span_indent_xl::before {
  border: 8px solid var(--button_border_color);
}

.booking__span-date {
  font-weight: 700;
  font-size: 14px;
}

.booking__data-time-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  margin-bottom: 40px;
}

.booking__data-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 32px;
  margin-bottom: 22px;
}

.booking__data-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.booking__data-list:first-child,
.booking__data-list:last-child {
  min-width: 300px;
}

.booking__input {
  width: 100%;
  line-height: 28px;
  padding: 12px 20px;
}

.booking__input[type="text"]:focus,
.booking__input[type="email"]:focus,
.booking__input[type="tel"]:focus,
.booking__input[type="time"]:focus,
.booking__input[type="date"]:focus,
.booking__input[type="number"]:focus {
  border: 2px solid var(--individ-elements_color);
  padding: 10px 18px;
}

.booking__input::placeholder {
  font-size: 18px;
  position: relative;
  color: black;
  background-image: url(../booking/img/input-cursor.svg);
  background-repeat: no-repeat;
  background-position: right 6px top 4px;
  background-size: auto;
}

.booking__btn-block {
  display: flex;
  justify-content: flex-end;
}

.booking__btn {
  background: #FFFFFF;
  color: var(--button_border_color);
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  box-shadow: 0 0 20px #FFFFFF;
  padding: 13px 47px;
  margin-right: 0;
  align-self: flex-end;
  transition-duration: 0.5s;
}

.booking__btn:hover {
  border: 3px solid var(--button_border_color);
  background: var(--button_bg_color-white);
}

.booking__btn:active {
  border: 3px solid transparent;
  background: var(--button_bg_color-white);
  transition-timing-function: ease-in-out;
}

.booking__btn:focus {
  border: 3px solid var(--button_border_color);
  background: white;
  transition-timing-function: ease-in;
}

@media (max-width: 1150px) {
  .booking {
    padding: 60px 0;
  }

  .booking__title {
    margin-bottom: 41px;
  }

  .booking__legend {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
  }

  .booking__item-hall {
    font-size: 20px;
    line-height: 24px;
  }

  .booking__span-radio-btn {
    padding: 7px 20px;
    min-width: 180px;
    border-radius: 6px;
  }

  .booking__span {
    padding-top: 1px;
  }

  .booking__data-time-block {
    margin-bottom: 51px;
  }

  .booking__legend_position_left {
    margin-bottom: 24px;
  }

  .booking__fun-list {
    gap: 20px;
  }

  .booking__fun-list_break_size_s {
    gap: 19px;
  }

  .booking__fun-fieldset:last-child {
    padding: 0;
  }

  .booking__fun-block {
    padding-right: 57px;
  } 

  .booking__fun-list_break_size_s:not(:last-child) {
    gap: 18px;
    padding-left: 2px;
  }

  .booking__fieldset {
    padding: 0;
  }

  .booking__data-list {
    padding-top: 2px;
  }

  .booking__data-list:last-child {
    min-width: 254px;
  }

  .booking__btn {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 42px;
  }

  .booking__fieldset:not(:first-child) {
    padding: 0 0;
  }
}

@media (max-width: 960px) {
  .booking {
    padding: 50px 0;
  }

  .booking__wrapper {
    gap: 52px;
  }

  .booking__legend {
    margin-bottom: 30px;
  }

  .booking__halls-list {
    flex-wrap: wrap;
  }

  .booking__span-radio-btn {
    padding: 5px 20px;
    min-width: 150px;
    font-size: 16px;
    line-height: 20px;
  }

  .booking__fun-block {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 39px 137px;
  }

  .booking__legend_position_left {
    margin-bottom: 24px;
  }

  .booking__fun-list {
    gap: 27px;
  }

  .booking__legend_indent_top {
    padding-top: 6px;
    margin-bottom: 27px;
  }

  .booking__span {
    padding-top: 7.4px;
    padding-left: 60px;
    display: flex;
  }

  .booking__span_indent_s::before,
  .booking__span_indent_xl::before {
    width: 40px;
    height: 40px;
  }

  .booking__span_indent_s::after {
    width: 52px;
    height: 52px;
    top: -6px;
    left: -6px;
  }

  .booking__data-time-block {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px 20px;
    margin-bottom: 48px;
  }

  .booking__data-block {
    max-width: 280px;
    gap: 14px;
    margin-bottom: 0;
  }

  .booking__data-list:first-child {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .booking__data-list:last-child {
    max-width: 300px;
  }

  .booking__data-list_width_s {
    max-width: 280px;
  }

  .booking__input_fixed_height {
    height: 52px;
    min-width: 300px;
  }

  .booking__btn {
    font-size: 22px;
    line-height: 28px;
    padding: 13px 47px;
  }

  .booking__fieldset:not(:first-child) {
    padding: 0 0;
  }
}

@media (max-width: 650px) {
  .booking {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  .booking__title {
    margin-bottom: 14px
  }

  .booking__wrapper {
    gap: 30px;
  }

  .booking__fieldset:not(:first-child) {
    padding: 0 0;
  }

  .booking__legend {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    padding: 0;
  }

  .booking__halls-list {
    flex-wrap: wrap;
    gap: 14px;
  }

  .booking__span-radio-btn {
    min-width: 130px;
    padding: 3px 17px;
    font-size: 14px;
    line-height: 18px;
  }

  .booking__fun-block {
    flex-direction: column;
    gap: 27px;
  }

  .booking__fun-list {
    gap: 20px;
  }

  .booking__span_indent_s::before,
  .booking__span_indent_xl::before {
    width: 30px;
    height: 30px;
  }

  .booking__span_indent_s::after {
    width: 36px;
    height: 36px;
    top: -6px;
    left: -6px;
  }


  .booking__span_indent_xl,
  .booking__span_indent_s::after {
    width: 30px;
    height: 30px;
  }

  .booking__span {
    padding-left: 50px;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }

  .booking__legend_indent_top {
    padding-right: 20px;
  }

  .booking__data-list:first-child {
    flex-direction: column;
    padding-top: 9px;
  }

  .booking__data-block {
    gap: 12px;
  }

  .booking__data-list {
    gap: 15px;
  }

  .booking__data-time-block {
    gap: 34px;
    margin-bottom: 36px;
  }

  .booking__input_fixed_height,
  .booking__input {
    min-width: auto;
    max-width: 280px;
    justify-content: flex-start;
  }

  .booking__input::placeholder {
    font-size: 14px;
    background-position: right 6px top 0;
  }

  .booking__label {
    justify-content: flex-start;
  }

  .booking__btn-block {
    justify-content: flex-start;
  }

  .booking__btn {
    font-size: 18px;
    line-height: 26px;
    padding: 14px 55px;
    border-radius: 4px;
  }
}