.reviews {
  height: 1264px;
}

.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.reviews__item {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px;
}

.reviews__customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.reviews__customer::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 280px;
  height: 280px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 50%;
}

.reviews__photo {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}

.reviews__photo_position_top {
  object-position: right 0 top -40px;
}


.reviews__discription {
  width: 680px;
  padding-top: 55px;
}