.game-over__wrapper {
  height: 823px;
  position: relative;
}

.game-over__wrapper::before {
  content: "";
  position: absolute;
  width: 675px;
  height: 762px;
  background-image: url(../game-over/img/desktop-img-2.png);
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
}


/* .game-over__button-scroll::after {
content: "";
width: 99px;
height: 99px;
background: transparent;
position: absolute;
border: 1px solid #6C0287;
top: -2px;
left: -2px;
opacity: 0.2;
} */

.game-over__button-scroll {
  display: block;
  width: 97px;
  height: 97px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  bottom: 90px;
  left: 540px;
}

/* .game-over__cube-element {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(45deg);
  left: 37px;
  bottom: 39px;
} */

.game-over__button-scroll:hover {
  background: white;
}

.game-over__button-scroll:hover .game-over__svg {
  fill: #6C0287;
}

.game-over__button-scroll:active {
  background: #6C0287;
  border: none;
}

.game-over__button-scroll:active .game-over__svg {
  fill: white;
}

.game-over__button-scroll:active .game-over__svg {
  fill: white;
}

.game-over__button-scroll:focus {
  background: transparent;
  border: 1px solid #FFFFFF;
}



.game-over__title {
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.game-over__title-discription {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
}

.game-over__info-blocks {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 150px;
  width: 400px;
}

.game-over__title-block {
  margin-bottom: 30px;
}

.game-over__info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-over__discription {
  font-size: 30px;
  text-align: center;
}

.game-over__discription-halls {
  width: 193px;
}

.game-over__discription-gear {
  width: 166px;
}

.game-over__text-halls {
  color: #CD06FF;
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
}

.game-over__text-gear {
  color: #CD06FF;
  font-weight: 900;
  font-size: 75px;
  font-variant: small-caps;
  line-height: 106px;
}

.game-over__button-booking {
  display: block;
  width: 374px;
  background-color: #6C0287;
  border: 0;
  padding: 25px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #6C0287;
}

.game-over__button-booking:hover {
  background-color: #840AA3;
}

.game-over__button-booking:active {
  background: #640AA3;
}

.game-over__button-booking:focus {
  background-color: #840AA3;
}